body {
    color: white;
    background: rgb(0, 54, 61);
}

.navbar {
    text-transform: capitalize;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.3)!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link :hover {
    color: rgb(0, 54, 61);
}

.komentar {
    min-height: 35vh;
    background: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
