{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<div id="landing_page" class="home">
    
    <div class="caption text-center" style="margin: 75px; color: white;">
        <h1>Halo, apa kabar?</h1>
        <hr/>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <form method="POST" action="create_comments/">
        <div  style = "color: white;">
            {% csrf_token %}
            {{ form_komentar | crispy }}
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <button type= "submit" id="tombol" class="btn btn-outline-light btn-lg align-items-center" 
                    style="margin-bottom: 20px; margin-top: 20px;">Submit</button>
        </div>
        </form>
    </div>
    <div class="komentar" style="color: black;">
        <div class="col-12">
        {% if statuss %}
            {% for status in statuss %}
            <div class="col-10">
                <p>
                    {{status.status}}<br>
                    <b>{{ status.date }}</b>
                </p>
            </div>
            <div class="col-2">
                <a href="{% url 'del_comment' status.id %}" style="color: blue;">delete</a><br>
            </div>
            {% endfor %}
        {% else %}
            <p><b>Belum ada komentar...</b><p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}