{% extends 'base.html' %}

{% block content %}
<div id='story7'>

<div class ="container-fluid" style = " margin-top: 100px;">
<div class="row">
    
    <div class="col-12 col-md-8 offset-md-2 text-center">
        <button class="accordion">Aktivitas Saat Ini</button>
        <div class="panel">
            <p>Mahasiswa semester 3 Fakultas Ilmu Komputer</p>
        </div>

        <button class="accordion">Pengalaman Organisasi/Kepanitian</button>
        <div class="panel">
            <p>SMA : Smale Fest 5 & 7 Staff Keamanan (Body Checking)</p>
        </div>

        <button class="accordion">Prestasi</button>
        <div class="panel">
            <p>Coming Soon</p>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <button id="change-theme" class="btn btn-outline-light btn-lg align-items-center" 
        style="margin-bottom: 20px; margin-top: 20px;">Change Theme</button>
    </div>
</div>
</div>
</div>

{% endblock content %}